/** Google fontlar en üste import edilmeli */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/** Özel font eklenmek istenirse */
/* @font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Oswald.woff2") format("woff2");
} */
/*?--font-display: "Oswald", "sans-serif";*/

@import "tailwindcss";

@theme {
  --font-customName: "Open Sans", sans-serif;

  --breakpoint-xs: 425px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;

  --color-rootBackground: #ffffff;
}
