/** Google fontları RootLayout'da head kısmında link stylesheet olarak eklenebilir, daha iyisi fonts.ts dosyasında örneği var.*/

/** Dışarıdan dosya ile özel font eklenmek istenirse */
/* @font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Oswald.woff2") format("woff2");
} */
/*?--font-display: "Oswald", "sans-serif";*/

@import "tailwindcss";


/** theme kısmında var olan tailwind sınıflarının özelliklerinideğiştirebilirsin */
@theme {
  --font-customName: "Open Sans", sans-serif;

  --breakpoint-xs: 425px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;

}

:root {
  --generalBlack: #000000;
  --generalWhite: #ffffff;

   --color-rootBackground: #d6d6d6;
}
@theme inline {
  --color-generalBlack: var(--generalBlack);
  --color-generalWhite: var(--generalWhite);
  --color-rootBackground: var(--color-rootBackground);
}
